#nombre-empresa {
    padding-left: 10px;
}

#imagen-empresa {
    vertical-align: middle !important;
}

.nav-item {
    margin: 10px;
}

#slogan-empresa {
    display: none;
}

@media (min-width: 900px) {
    #slogan-empresa {
        position: absolute;
        top: 50%;
        bottom: auto;
        font-family: 'Lobster', cursive;
        font-size: 75px;
        display: block;
    }
}

#promociones {
    margin-top: 30px;
}

#promociones h1 {
    font-family: 'Lobster', cursive;
}

#app {
    margin-bottom: 50px;
}

.div-panel {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}

.help-block {
    color: red;
}